@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(45, 45, 45);
}

nav{
    >ul{
        width: 750px;
        margin: 20px auto;
        display: flex;
        text-align: center;
        background: black;
        border: 2px solid #000;
        >li{
            list-style: none;
            width: 100%;
            transition: 0.3s;
            position: relative;
            >a{
                text-decoration: none;
                display: block;
                color: #fff;
                font:normal small-caps bold 20px/50px 'Poppins', sans-serif ;
                letter-spacing: 2px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 100%;
                left: 0%;
                background: #fff;
                width: 100%;
                height: 6px;
            }

            &:hover{
                background: white;
                >a{
                    color: #000;
                }
            }
        }
    }
}